<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <!--NML.EmailDL.MailSend PROD-->
    <add key="ClientId" value="00b0dfc5-fdee-4ff5-82da-9c76890d9b42"/>
    <add key="ClientSecret" value="kVZW5eLs3WtnrPYbnDIGvisdKVv4hX+LxGMIU8HJ0AA="/>
    
    <add key="Group1ClientId" value="e0023a66-05a9-4b23-9407-8dbbcac847e6"/>
    <add key="Group1ClientSecret" value="vFyNGD4mEP3oiP5b5hbcW7SSvOpJYj3hKH5c/bRl3Wc="/>
    
    <add key="Group2ClientId" value="b27dae5c-674b-4ea9-a1da-921344652dc3"/>
    <add key="Group2ClientSecret" value="pzOwMV3sGo6Xwd2eZGXJkV8ekxvCUjEvKFZXQqrEybo="/>
    
    <add key="Group3ClientId" value="b309cd31-dc49-44b8-ae14-dedc7e0e4727"/>
    <add key="Group3ClientSecret" value="Wd2+oJ0aNa4YC6j4PR80huHZEjpyJvAzy7w6vgz819U="/>
    
    <add key="Group4ClientId" value="9d6e2ebc-13b6-4218-ac0f-2385cc5147a3"/>
    <add key="Group4ClientSecret" value="tscoNzs9PZlAuZIrFGOiEoOQspLhIurRt0GLHhiTODQ="/>

    <add key="DestinationSiteURL" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_009988_RnD_External_Mail_Sender_Site_00/"/>
    <add key="MailContentListDisplayName" value="SendEmail"/>
    <add key="LogFilePath" value="C:\00Prakash\00_MailMissend\Development\SourceCode\NML.EmailDL.MailSend_SourceCode_4Apr2021_AfterDeployment\NML.EmailDL.MailSend\NML.EmailDL.MailSend\Log\"/>
    <add key="FilterItemStatus" value="Testing8Aug2021"/>
    <add key="ItemStartId" value="0"/>
    <add key="CompletedItemStatus" value="Completed"/>
    <add key="MailFailureItemStatus" value="MailFailure"/>
    <add key="SupplierMailRequestType" value="SendMailToSupplier"/>
    <add key="ApproverMailRequestType" value="ApproveNotificationMailToRequestor_MailMissend"/>

    <add key="Group1Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_009994_RnD_External_Mail_Sender_Site_01"/>
    <add key="Group2Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_009995_RnD_External_Mail_Sender_Site_02"/>
    <add key="Group3Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_009996_RnD_External_Mail_Sender_Site_03"/>
    <add key="Group4Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_009997_RnD_External_Mail_Sender_Site_04"/>

    <add key="Group1Teams" value="/teams/JAO_NML_07_009994_RnD_External_Mail_Sender_Site_01/"/>
    <add key="Group2Teams" value="/teams/JAO_NML_07_009995_RnD_External_Mail_Sender_Site_02/"/>
    <add key="Group3Teams" value="/teams/JAO_NML_07_009996_RnD_External_Mail_Sender_Site_03/"/>
    <add key="Group4Teams" value="/teams/JAO_NML_07_009997_RnD_External_Mail_Sender_Site_04/"/>

    <add key="Group1ListName" value="MailMisSendingPreventionRequestGroup1"/>
    <add key="Group2ListName" value="MailMisSendingPreventionRequestGroup2"/>
    <add key="Group3ListName" value="MailMisSendingPreventionRequestGroup3"/>
    <add key="Group4ListName" value="MailMisSendingPreventionRequestGroup4"/>
    <add key="ArchiveListName" value="Pending"/>

    <!--SMTP server details-->

    <add key="SMTPserver" value="InetGW.mail.nissan.biz"/>
    <add key="FromAddress" value="Microsoft Power Apps and Power Automate microsoft@powerapps.com"/>
    <add key="FromAddress" value="NML Email Distribution System NML_Email_Distribution_System@mail.nissan.co.jp"/>

    <add key="ToAddress" value="subash-venkatachalam@mail.nissan.co.jp"/>

    <add key="FileDeleteDefaultPeriod" value="2 Weeks"/>
    <add key="SupportTeamMailID" value="NML_Email_Distribution_System@mail.nissan.co.jp"/>

    <!--NML.EmailDL.MailSend PROD End-->



    <!--QA-->


    <!--<add key="ClientId" value="a6e9450a-cf9c-48e6-9e28-525575a99f9d" />
    <add key="ClientSecret" value="xPE4oZJdJtjYPjtOspao9KElEaUk5XsgO6EfQY7qJfE=" />
 

    <add key="Group1ClientId" value="6de5ed17-d3e6-4a78-ae1d-aa026a157193" />
    <add key="Group1ClientSecret" value="2chCA9hCEwJlWXLttHSeWNvC86Re8c+Zztgq08NfRKw=" />

    <add key="Group2ClientId" value="6de5ed17-d3e6-4a78-ae1d-aa026a157193" />
    <add key="Group2ClientSecret" value="2chCA9hCEwJlWXLttHSeWNvC86Re8c+Zztgq08NfRKw=" />

    <add key="Group3ClientId" value="6de5ed17-d3e6-4a78-ae1d-aa026a157193" />
    <add key="Group3ClientSecret" value="2chCA9hCEwJlWXLttHSeWNvC86Re8c+Zztgq08NfRKw=" />

    <add key="Group4ClientId" value="6de5ed17-d3e6-4a78-ae1d-aa026a157193" />
    <add key="Group4ClientSecret" value="2chCA9hCEwJlWXLttHSeWNvC86Re8c+Zztgq08NfRKw=" />

    <add key="DestinationSiteURL" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_008813_RnD_MailMissendingPrevention_PoC/" />
    <add key="MailContentListDisplayName" value="SendEmail" />
    <add key="LogFilePath" value="C:\00Prakash\00_MailMissend\Development\SourceCode\NML.EmailDL.MailSend_SourceCode_4Apr2021_AfterDeployment\NML.EmailDL.MailSend\NML.EmailDL.MailSend\Log\" />
    <add key="FilterItemStatus" value="TestingIssueItemQA" />
    <add key="ItemStartId" value="0" />
    <add key="CompletedItemStatus" value="MailFailure" />
    <add key="MailFailureItemStatus" value="MailFailure" />
    <add key="SupplierMailRequestType" value="SendMailToSupplier" />
    <add key="ApproverMailRequestType" value="ApproveNotificationMailToRequestor_MailMissend" />

    <add key="Group1Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00" />
    <add key="Group2Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00" />
    <add key="Group3Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00" />
    <add key="Group4Site" value="https://nissangroup.sharepoint.com/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00" />

    <add key="Group1Teams" value="/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00/" />
    <add key="Group2Teams" value="/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00/" />
    <add key="Group3Teams" value="/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00/" />
    <add key="Group4Teams" value="/teams/JAO_NML_07_010007_RnD_MailMissendingPrevention_PoC_00/" />

    <add key="Group1ListName" value="MailMisSendingPreventionRequest" />
    <add key="Group2ListName" value="MailMisSendingPreventionRequestGroup2" />
    <add key="Group3ListName" value="MailMisSendingPreventionRequestGroup3" />
    <add key="Group4ListName" value="MailMisSendingPreventionRequestGroup4" />
    <add key="ArchiveListName" value="Pending" />-->

    <!--SMTP server details-->

    <!--<add key="SMTPserver" value="InetGW.mail.nissan.biz"/>
    <add key="FromAddress" value="NML Email Distribution System NML_Email_Distribution_System@mail.nissan.co.jp"/>
    <add key="ToAddress" value="subash-venkatachalam@mail.nissan.co.jp"/>
    <add key="FileDeleteDefaultPeriod" value="2 Weeks" />
    <add key="SupportTeamMailID" value="NML_Email_Distribution_System@mail.nissan.co.jp" />-->

  </appSettings>

</configuration>
