<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <!--NML.EmailDL.MailSend PROD-->
    <add key="ClientId" value=""/>
    <add key="ClientSecret" value=""/>
    
    <add key="Group1ClientId" value=""/>
    <add key="Group1ClientSecret" value=""/>
    
    <add key="Group2ClientId" value=""/>
    <add key="Group2ClientSecret" value=""/>
    
    <add key="Group3ClientId" value=""/>
    <add key="Group3ClientSecret" value=""/>
    
    <add key="Group4ClientId" value=""/>
    <add key="Group4ClientSecret" value=""/>

    <add key="DestinationSiteURL" value=""/>
    <add key="MailContentListDisplayName" value="SendEmail"/>
    <add key="LogFilePath" value="C:\00Prakash\00_MailMissend\Development\SourceCode\NML.EmailDL.MailSend_SourceCode_4Apr2021_AfterDeployment\NML.EmailDL.MailSend\NML.EmailDL.MailSend\Log\"/>
    <add key="FilterItemStatus" value="Testing8Aug2021"/>
    <add key="ItemStartId" value="0"/>
    <add key="CompletedItemStatus" value="Completed"/>
    <add key="MailFailureItemStatus" value="MailFailure"/>
    <add key="SupplierMailRequestType" value="SendMailToSupplier"/>
    <add key="ApproverMailRequestType" value="ApproveNotificationMailToRequestor_MailMissend"/>

    <add key="Group1Site" value=""/>
    <add key="Group2Site" value=""/>
    <add key="Group3Site" value=""/>
    <add key="Group4Site" value=""/>

    <add key="Group1Teams" value="/teams/JAO_NML_07_009994_RnD_External_Mail_Sender_Site_01/"/>
    <add key="Group2Teams" value="/teams/JAO_NML_07_009995_RnD_External_Mail_Sender_Site_02/"/>
    <add key="Group3Teams" value="/teams/JAO_NML_07_009996_RnD_External_Mail_Sender_Site_03/"/>
    <add key="Group4Teams" value="/teams/JAO_NML_07_009997_RnD_External_Mail_Sender_Site_04/"/>

    <add key="Group1ListName" value="MailMisSendingPreventionRequestGroup1"/>
    <add key="Group2ListName" value="MailMisSendingPreventionRequestGroup2"/>
    <add key="Group3ListName" value="MailMisSendingPreventionRequestGroup3"/>
    <add key="Group4ListName" value="MailMisSendingPreventionRequestGroup4"/>
    <add key="ArchiveListName" value="Pending"/>

    <!--SMTP server details-->

    <add key="SMTPserver" value=""/>
    <add key="FromAddress" value="Microsoft Power Apps and Power Automate microsoft@powerapps.com"/>
    <add key="FromAddress" value=""/>

    <add key="ToAddress" value=""/>

    <add key="FileDeleteDefaultPeriod" value="2 Weeks"/>
    <add key="SupportTeamMailID" value=""/>

    <!--NML.EmailDL.MailSend PROD End-->


  </appSettings>

</configuration>
